{% include 'base.html.twig' %}
{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
                <div class="app-branding text-center mb-5">
                    <a class="app-logo"><img class="logo-icon me-2" src="{{ asset('portal-theme-bs5-master/assets/images/app-logo.svg') }}" alt="logo"><span class="logo-text">ECOVAIR</span></a>

                </div><!--//app-branding-->
                <div class="app-card p-5 text-center shadow-sm">
                    <h1 class="page-title mb-4">Erreur<br><span class="font-weight-light"></span></h1>
                    <div class="mb-4">
                        Tu ne corresponds à aucun de nos commerciaux :/
                    </div>
                    <a class="btn app-btn-primary" href="{{ path('app_login') }}">Go to home page</a>
                </div>
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->

{% endblock %}